@import url("styles/base.css");

:root {
    --overlay-color: rgba(0, 0, 0, 0.8);
    --background-color: rgb(50, 50, 51);
    --menu-width: var(--stage-width);

    --heading-text-color: green;
    --heading-font-size: 44px;

    --focus-indicator-color: green;
    --focus-indicator-width: 2px;

    --button-text-color: white;
    --button-text-focus-color: green;
    --button-font-size: 34px;

    --floating-borders-top: 100px;
    --floating-borders-spacing: 90px;

    background-color: var(--overlay-color);
}

:root, #game_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu_title {
    font-size: var(--heading-font-size);
    color: var(--heading-text-color);
}

#game_menu {
    width: var(--menu-width);
    height: 100%;
    padding: 25px 90px 40px;

    background-color: var(--background-color);

    flex-direction: column;
}

Button {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
    background-color: transparent;

    font-size: var(--button-font-size);
    color: var(--button-text-color);
    &:focus {
        color: var(--button-text-focus-color);
    }

    Text {
        transition: color 0.6s;
    }
}

Button, #floating_borders {
    width: 250px;
    height: 60px;
}

#floating_borders {
    display: flex;
    position: absolute;
    top: var(--floating-borders-top);
    transition: top 0.6s;
    border-left-width: var(--focus-indicator-width);
    border-color: var(--focus-indicator-color);
}

Button:nth-child(2):focus ~ #floating_borders {
    top: calc(var(--floating-borders-top) + var(--floating-borders-spacing) * 0);
}

Button:nth-child(3):focus ~ #floating_borders {
    top: calc(var(--floating-borders-top) + var(--floating-borders-spacing) * 1);
}

Button:nth-child(4):focus ~ #floating_borders {
    top: calc(var(--floating-borders-top) + var(--floating-borders-spacing) * 2);
}

Button:nth-child(5):focus ~ #floating_borders {
    top: calc(var(--floating-borders-top) + var(--floating-borders-spacing) * 3);
}
